<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">About</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <h2>Course Abstract</h2>
            <div class="well">
                <blockquote>
                    <p>本课程将web作为一种连接全球网络资源的分布式计算平台来进行探讨,
                        同时重视将web作为媒体发布平台和互联的特征，从基础的核心协议开始，沿着web发展的阶段脉络清晰的介绍其相关概念、技术和应用。介绍Web数据标准XML,重视个性化和互联的Web2.0相关内容，Web上的虚拟现实技术Web3D，分布式对象（组件）技术Java
                        EE,基于Web的分布式计算技术Web Services等。通过该课程了解Web相关的一些流行和前沿技术,如云计算、HTML5.0、语义Web技术。</p>
                    <footer><cite title="Source Title">Course Slides: Lecture0-Introduction-2016</cite></footer>
                </blockquote>
            </div>
            <div class="well" style="margin-bottom: 100px">
                <blockquote>
                    <p>我们拥有一个美好的时代, 每个人都能够轻松地发表自己的意见, 用美好的方式将其展现出来.</p>
                    <p>我们正在经历巨大的变革, 互联网在其中扮演着重要的角色.</p>
                    <p>我们正在学习高级Web技术! Excited!</p>
                    <p>这门课没有太大的理论难度, 却是非常好的一次真正玩技术的机会, 因为Web技术里面有太多的轮子, 使你能够比较容易地做出一些demo甚至是产品级别的项目. 所以不要去抱大神的大腿,
                        特别是妹子们, 因为你将在这门课中学到长期有用的技能, 培养对技术真正的热情, 这将是我们之后从事IT行业的重要基础.</p>
                    <p>老师和助教, 以及学有余力愿意分享的同学们, 都将帮助所有希望探索但又不巧碰到一些问题的同学, 我们鼓励所有形式的友好的分享和交流, 因为在这个过程中,
                        分享者本身也能从不同的角度去重新审视自己掌握的技术, 这一点是非常重要和难得的.</p>
                    <p>所以, 请大家务必提起热情, 一起去探索这个未知又充满乐趣的世界, 这里存在了太多的可能, 而Web只是这些精彩内容的载体. 我们将用一次次击键来挑战无限的可能.</p>
                    <p>So BE READY XD</p>
                    <footer><cite title="Source Title">Course Website: <a
                            href="http://adwebfdu.github.io/course/2016/03/16/welcome-to-advanced-web-course.html">adwebfdu.github.io</a></cite>
                    </footer>
                </blockquote>
            </div>

        </div>
        <div class="col-xs-12 col-sm-4" style="margin-top: 63px">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Course Info</h3>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>Credits:</dt>
                        <dd>3</dd>
                        <dt>Time:</dt>
                        <dd>8:55 - 11:35, Fri</dd>
                        <dt>Classroom:</dt>
                        <dd>Z2204</dd>
                        <dt>Instructor:</dt>
                        <dd>Prof. Dai</dd>
                        <dt>Semester:</dt>
                        <dd>Fall Semester</dd>
                        <dt>School:</dt>
                        <dd>Software School</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>