<div class="container">
    <div class="row row-content">
        <div class="row">
            <div class="col-xs-6 col-md-4">
                <div class="thumbnail"
                     style="height: 358px; text-align:center; margin-top:20px; padding: 30px; background: lightsteelblue">
                    <i class="fa fa-info-circle fa-5x" aria-hidden="true"></i>
                    <div class="caption">
                        <h3>
                            <a ui-sref="app.about">About<br>
                                <small>Course Information</small>
                            </a>
                        </h3>
                        <p style="text-align: justify; padding-top: 15px">
                            The About Page contains all the infomation about this course, including credits, time,
                            classroom, instructor, etc. There is also a brief description about this course from the
                            course slides.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <div class="thumbnail"
                     style="height: 358px; text-align:center; margin-top:20px; padding: 30px; background: lightsteelblue">
                    <i class="fa fa-book fa-5x" aria-hidden="true"></i>
                    <div class="caption">
                        <h3>
                            <a ui-sref="app.book">Material<br>
                                <small>Reference Books</small>
                            </a>
                        </h3>
                        <p style="text-align: justify; padding-top: 15px">
                            The Material Page lists the reference books which may be helpful during this course. All the
                            books have been cataloged by the topic of this course. The Purchase Link of each book is
                            also provided.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <div class="thumbnail"
                     style="height: 358px; text-align:center; margin-top:20px; padding: 30px; background: lightsteelblue">
                    <i class="fa fa-phone-square fa-5x" aria-hidden="true"></i>
                    <div class="caption">
                        <h3>
                            <a ui-sref="app.contact">Contact<br>
                                <small>Contact Information</small>
                            </a>
                        </h3>
                        <p style="text-align: justify; padding-top: 15px">
                            The Contact Page provides you all the contact information you may need. And you can leave
                            your message on this page directly, if you have any opinion or advice to this course.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>