<div class="container">
    <div class="row row-content">
        <div class="row">
            <div class="col-xs-6 col-md-4">
                <div class="thumbnail"
                     style="height: 358px; text-align:center; margin-top:20px; padding: 30px; background: lightsteelblue">
                    <i class="fa fa-calendar-plus-o fa-5x" aria-hidden="true"></i>
                    <div class="caption">
                        <h3>
                            <a ui-sref="app.arrange">Arrange Meeting</a>
                        </h3>
                        <p style="text-align: justify; padding-top: 15px">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <div class="thumbnail"
                     style="height: 358px; text-align:center; margin-top:20px; padding: 30px; background: lightsteelblue">
                    <i class="fa fa-calendar-minus-o fa-5x" aria-hidden="true"></i>
                    <div class="caption">
                        <h3>
                            <a ui-sref="app.arrange">Cancel Meeting</a>
                        </h3>
                        <p style="text-align: justify; padding-top: 15px">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <div class="thumbnail"
                     style="height: 358px; text-align:center; margin-top:20px; padding: 30px; background: lightsteelblue">
                    <i class="fa fa-calendar fa-5x" aria-hidden="true"></i>
                    <div class="caption">
                        <h3>
                            <a ui-sref="app.arrange">My Calendar</a>
                        </h3>
                        <p style="text-align: justify; padding-top: 15px">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>