<div class="container" ng-controller="ArrangeController">
    <div class="row">
        <div class="col-xs-12">
            <ul class="breadcrumb">
                <li><a ui-sref="app.home">Home</a></li>
                <li class="active">Arrange Meeting</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div ng-if="isNetworkError" class="alert alert-danger col-sm-6 col-sm-offset-2" role="alert">
            <a href="#" class="alert-link">网络错误，请稍后重试！</a>
        </div>
        <div ng-if="isSuccess" class="alert alert-success col-sm-6 col-sm-offset-2" role="alert">
            <a href="#" class="alert-link">会议安排成功！</a>
        </div>
        <div ng-if="isRecommend" class="alert alert-warning col-sm-6 col-sm-offset-2" role="alert">
            <a href="#" class="alert-link">会议时间冲突，请选择一个推荐的会议时间！</a>
        </div>
    </div>
    <div class="row">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">会议主题 :</label>
                <div class="col-sm-6">
                    <input type='text' class="form-control" id='inputPassword3' ng-model="subject" placeholder="会议主题"/>
                </div>
            </div>
            <div class="form-group">
                <label for="datetimepicker4" class="col-sm-2 control-label">会议时间 :</label>
                <div class="col-sm-6">
                    <div class="input-group">
                        <input type='text' class="form-control" id='datetimepicker4' ng-model="meetingDate"
                               placeholder="会议时间">
                        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">会议时长 :</label>
                <div class="col-sm-6">
                    <div class="input-group">
                        <input type="number" class="form-control" id="inputPasswords13" ng-model="time"
                               placeholder="会议时长">
                        <div class="input-group-addon">分钟</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">发起者 :</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="inputPasswaords13" ng-model="sponsor" placeholder="发起者">
                </div>
            </div>
            <div class="form-group" data-ng-repeat="choice in choices">
                <label for="inputPassword3" class="col-sm-2 control-label">与会人员 {{choice.id}} :</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" ng-model="choice.name" id="asd" placeholder="Name">
                </div>
                <div class="col-sm-2">
                    <label>
                        <input ng-model="choice.attend" type="checkbox"> Must Attend
                    </label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-success addfields" ng-click="addNewChoice()"><i class="fa fa-plus"></i>
                    </button>
                    <button class="btn btn-danger remove" ng-click="removeChoice(choice.id)"><i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>

            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">会议内容 :</label>
                <div class="col-sm-6">
                        <textarea class="form-control" rows="12" ng-model="content"
                                  style="resize: none"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" ng-click="confirm()">Confirm</button>
                </div>
            </div>

            <div ng-if="isRecommend">
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">推荐时间 :</label>
                    <div class="col-sm-offset-2" style="padding-left: 20px">
                        <div ng-repeat="temp in failResponse.available" class="col-sm-8" ng-init="radioIndex = $index">
                            <label class="radio">
                                <input type="radio" ng-model="meetingRadio.value" name="optionsRadios" value="{{radioIndex}}">
                                {{temp.start}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" ng-click="select()">Select</button>
                    </div>
                </div>
            </div>
        </form>

        <!--<div id="choicesDisplay">-->
            <!--{{ choices }}-->
        <!--</div>-->
        <!--<div>-->
            <!--<p>{{ meetingDate }}</p>-->
        <!--</div>-->
        <!--<div>-->
            <!--<p>meetingRadio</p>-->
            <!--<p>{{ meetingRadio.value }}</p>-->
            <!--<p>{{ meetingRadio.value.duration }}</p>-->
            <!--<p>{{ meetingRadio.value.start }}</p>-->
            <!--<p>{{ meetingRadio.value.id }}</p>-->
        <!--</div>-->

    </div>
</div>